In [1]:
import pandas as pd

In [2]:
df_games=pd.read_csv("All_Fixtures.csv")
df_teams=pd.read_csv("All_Teams.csv")

In [3]:
df_games.head()

,match_id,match_date,match_time,home_team_id,home_team_name,away_team_id,away_team_name,league_id,match_day,home_team_score,away_team_score,status,Winner
0,264341,2019-08-09,19:00:00,64,Liverpool FC,68,Norwich City FC,2021,1,4,1,FINISHED,HOME_TEAM
1,264342,2019-08-10,11:30:00,563,West Ham United FC,65,Manchester City FC,2021,1,0,5,FINISHED,AWAY_TEAM
2,264344,2019-08-10,14:00:00,328,Burnley FC,340,Southampton FC,2021,1,3,0,FINISHED,HOME_TEAM
3,264345,2019-08-10,14:00:00,354,Crystal Palace FC,62,Everton FC,2021,1,0,0,FINISHED,DRAW
4,264346,2019-08-10,14:00:00,346,Watford FC,397,Brighton & Hove Albion FC,2021,1,0,3,FINISHED,AWAY_TEAM

In [4]:
df_games.describe()

            match_id  home_team_id  away_team_id    league_id
count    1633.000000   1633.000000   1633.000000  1633.000000
mean   273123.217391    485.936314    477.813227  2013.055113
std      5922.396676   1248.579729   1217.763781     7.918435
min    264341.000000      1.000000      1.000000  2001.000000
25%    269502.000000     65.000000     65.000000  2002.000000
50%    273647.000000     99.000000     99.000000  2014.000000
75%    279312.000000    356.000000    356.000000  2019.000000
max    283643.000000   8166.000000   8166.000000  2021.000000

In [5]:
df_teams.describe()

       betradar_id    league_id
count   157.000000   157.000000
mean   1506.363057  2007.611465
std    2372.782261     8.403029
min       1.000000  2001.000000
25%      80.000000  2001.000000
50%     356.000000  2001.000000
75%    1876.000000  2019.000000
max    8166.000000  2021.000000

In [ ]:
def get_home_label()